.container {
  display: flex;
  padding: 10px 20px;
  width: 100%;

  &:hover {
    background-color: var(--menuItemHoverBackgroundColor);
  }
}

.game {
  flex: 1 0 0;
  overflow: hidden;
}

.igdbLink {
  composes: link from '~Components/Link/Link.css';

  margin-left: auto;
  color: var(--textColor);
}

.igdbLinkIcon {
  margin-left: 10px;
}
