.relativePath {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  word-break: break-all;
}

.extension,
.type {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}

.actions {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';
}
