.container {
  display: flex;
}

.year {
  margin-left: 5px;
  color: var(--disabledColor);
}

.poster {
  flex: 0 0 170px;
  width: 170px;
  margin-right: 20px;
  height: 250px;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  flex-grow: 1;
}

.overview {
  margin-bottom: 30px;
}

.labelIcon {
  margin-left: 8px;
}

.searchForMissingGameLabelContainer {
  display: flex;
  margin-top: 2px;
}

.searchForMissingGameLabel {
  margin-right: 8px;
  font-weight: normal;
}

.searchForMissingGameContainer {
  composes: container from '~Components/Form/CheckInput.css';

  flex: 0 1 0;
}

.searchForMissingGameInput {
  composes: input from '~Components/Form/CheckInput.css';

  margin-top: 0;
}

.modalFooter {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';
}

.addButton {
  @add-mixin truncate;
  composes: button from '~Components/Link/SpinnerButton.css';
}

@media only screen and (max-width: $breakpointSmall) {
  .modalFooter {
    display: block;
    text-align: center;
  }

  .addButton {
    margin-top: 10px;
  }
}
