.title {
  padding: 10px 20px;
  border-bottom: 1px solid var(--popoverTitleBorderColor);
  background-color: var(--popoverTitleBackgroundColor);
  font-size: 16px;
}

.body {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 400px;
  padding: 10px;
  background-color: var(--popoverBodyBackgroundColor);
  word-wrap: break-word;
}

.tooltipBody {
  padding: 0;
}
