<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Gamarr__Postgres__Host>192.168.100.5</Gamarr__Postgres__Host>
			<Gamarr__Postgres__Port>5432</Gamarr__Postgres__Port>
			<Gamarr__Postgres__User>abc</Gamarr__Postgres__User>
			<Gamarr__Postgres__Password>abc</Gamarr__Postgres__Password>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
