.header {
  display: flex;
  font-weight: bold;
}

.quality,
.title {
  flex: 0 1 250px;
}

@media only screen and (max-width: $breakpointSmall) {
  .header {
    display: none;
  }

  .definitions {
    &:first-child {
      border-top: none;
    }
  }
}
